/* Carousel.css */
*{
  font-family: 'Plus Jakarta Sans' !important;
}
.columns-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .column-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
  }
  
  .carousel-container {
    margin-top: 20px;
    /* /* overflow: visible; */ 
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: -100%;
    transition: right 0.5s;
  }
  
  .carousel-image.active {
    right: 0;
  }
  