*{
  font-family: 'Plus Jakarta Sans' !important;
}
.custom-shape-divider-bottom-1691931231 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    /* overflow: visible; */
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1691931231 svg {
    
    display: block;
    width: calc(300% + 1.3px);
    height: 360px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1691931231 .shape-fill {
    fill: #121C30;
}


/* Login.css */
.bd {
    position: relative;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }

  
  .custom-shape-divider-bottom-1691931231 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* overflow: visible; */
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .shape-fill {
    fill: #ffffff;
  }
  .card-setting{
    display: flex;
    justify-content: center;
  }
  .login-card {
    position: absolute;
    width: 40%;
  }
  .login-logo{
    margin: 20px;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  
  .logo {
  width: 20%;
    margin-bottom: 20px;
    
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin: 20px;
    text-align: left;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #121c30;
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 80%;
    margin-bottom: 30px;
  }
  .login-button:hover{
    background-color: #c0c0c0;
  }
  .forgot-link{
    color: #41CE8E;
    font-size: 20px;
  }
  .bold{
    font-weight: bold;
  }
  .terms-para{
    font-size: 10px;
    margin: 20px;
  }
  .gotosignup{
    text-align: center;
    margin-top: 90px;
    color: white;
    font-size: 20px;
  }
  .joinus{
    color: #41CE8E;
  }
  .DFSA{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 14px;
  }